/* -----VARIABLES------ ---------------------------------*/
:root {
  --dark-color: #211d1d;
  --blue-light: #1f9cc9;
  --blue-solid: #116696;
  --fondo-solid: #c1bcbc;
  --white-e: #eeeeee;
  --white-color: white;
  /* Tipografia---- */
  --normal: 12px;
  /* Espaciado-- */
  --space: 10px;
  /* Box Shadow------- */
  --box: 0 0 8px #c1bcbc;
}

/* -----VARIABLES------ ---------------------------------*/
/* Generales------------------ */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--normal);
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: var(--normal);
}
label {
  font-size: 17px;
  padding-bottom: 5px;
}

/* NAV------------------------- */
nav {
  display: flex;
  background-color: var(--dark-color);
  padding: var(--space);
  width: 100%;
  min-height: 60px;
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: var(--normal);
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: var(--white-e);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

hr {
  opacity: 0.2;
}

/* Main section---------------------- */

.main_section {
  padding: 15%;
  text-align: center;
}

.products {
  background-image: url("../images/sombra.svg");
  padding: 15%;
  height: 95px;
  display: flex;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.product {
  padding: 80px;
  margin-top: -226px;
}

.img_product {
  text-align: center;
}

.content {
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 18px;
  box-shadow: var(--box);
}

.img_product img {
  width: 12rem;
  height: 12rem;
}

/* .content {
  padding: 20px;
  background: var(--white-color);
  border-radius: 3px;
  box-shadow: 0px 0 2px 1px #e6e5e9;
} */

.main_buttom {
  background-color: var(--blue-light);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  border-radius: 16px;
  cursor: pointer;
}

.main_buttom:hover {
  background-color: var(--blue-solid);
}

/* -------Features------ */
.features {
  display: flex;
  justify-content: space-evenly;
  padding: 10%;
}

.img-features {
  text-align: center;
}

.img-features img {
  width: 10rem;
  height: 10rem;
}

.features-content {
  text-align: justify;
  font-size: var(--normal);
  padding: 10%;
}

.features-content h3 {
  text-align: center;
}

/* Main section-------------------- */

.mentions {
  display: flex;
  padding: 5%;
  /* justify-content: space-evenly; */
}

.mention img {
  width: 100%;
  /* margin: -3rem;
  box-shadow: var(--box);
  width: 23rem; */
}

.mention-title {
  text-align: center;
}

.mention {
  padding: var(--space);
}

.content-mention {
  box-shadow: var(--box);
}

.mention .text {
  padding: var(--space);
  text-align: justify;
}

/* .content-mentions {
  width: 100%;
  text-align: center;
  object-fit: cover;
}

.content-mentions img {
  width: 23rem;
  height: 15rem;
}

.mention-title {
  text-align: center;
  margin-top: 0;
} */

.mention:hover {
  background: #fff;
  color: var(--blue-solid);
}

/* --------------------------------------------Venta*/
.container {
  margin-top: 14rem;
  margin-bottom: 14rem;
}
.producto,
.venta {
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: 20px;
  border-radius: 16px;
}
.modulo-pago-images img {
  max-width: 100%;
  text-align: center;
}
.venta input {
  width: 100%;
  height: 35px;
  border-radius: 16;
  border: 1px solid gray;
}

/* --------------------------------------------Footer*/

footer {
  background: var(--dark-color);
  padding-bottom: 0.1px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us {
  width: 40%;
  color: #fff;
}

.brand {
  font-weight: 500;
  font-size: 40px;
}

.brand + p {
  font-weight: 500;
  color: white;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon:hover {
  background: #fff;
  color: var(--blue-light);
}

.social-media-icon i {
  font-size: 35px;
  line-height: 60px;
}
