@media (max-width: 900px) {
  .product {
    padding: 35px;
  }
}

@media (max-width: 600px) {
  .products {
    display: inherit;
    height: auto;
  }

  .product {
    margin-top: auto;
  }

  .main_section {
    padding: 15%;
  }

  .products {
    padding: 15%;
  }

  .img_product img {
    width: 100%;
    height: 100%;
  }

  .features,
  .mentions {
    display: inherit;
  }

  .mentions {
    justify-content: center;
  }

  /* footer--------------- */
  .footer-content {
    justify-content: center;
  }

  .social-media {
    width: 80%;
    justify-content: space-evenly;
  }

  .social-media-icon {
    margin-left: 0;
  }

  .social-media i {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }

  .social-media {
    width: 100%;
  }
  /* --------Producto------- */
  .titleDes h1 {
    font-size: 3rem;
  }

  .container-1 {
    grid-template-columns: 1fr;
    grid-template-areas: "desc1 desc1";
  }
  .container-2 {
    grid-template-columns: 1fr;
    grid-template-areas: "desc2 desc2";
  }
  .container-3 {
    grid-template-columns: 1fr;
    grid-template-areas: "desc3 desc3";
  }
  h4 {
    font-size: 2rem;
    color: var(--blueSolid);
  }
  /* ------------------------Venta */
  .container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .modulo_pago {
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 1fr;
    grid-template-areas:
      ". producto ."
      " . cuenta .";
  }
  .venta {
    grid-column: cuenta;
    padding: 20px;
    grid-area: cuenta;
  }
  .modulo-pago-images {
    padding: 25%;
  }
  label {
    font-size: 1.3rem;
    padding-top: 5px;
  }
  .data {
    width: 97%;
    height: 30px;
  }
}

@media (max-width: 425px) {
  .products {
    padding: 5%;
  }

  .product {
    margin-top: -7rem;
  }

  /* footer------- */
  .social-media {
    width: 100%;
  }

  .contact-us {
    width: 90%;
  }

  .content {
    margin: 15px;
  }
  /* ------------------venta */
  .modulo_pago {
    grid-template-columns: 20px 1fr 20px;
  }
  .modulo-pago-images {
    padding: 20%;
  }
  label {
    font-size: 1.3rem;
    padding-top: 5px;
  }
  .data {
    width: 97%;
    height: 30px;
  }
}

@media (max-width: 320px) {
  .main_section {
    padding: 10%;
  }

  .products {
    padding: 0;
  }

  .product {
    margin-top: -2rem;
  }
  /* ------------------venta */
  .modulo_pago {
    grid-template-columns: 30px 1fr 30px;
  }
  .modulo-pago-images {
    padding: 10%;
  }
  .venta label {
    font-size: 1.2rem;
  }
  .data {
    width: 96%;
    height: 30px;
  }
}
